body {
    font-family: 'Vazirmatn', "B Nazanin", serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #7891c2;
    color: white;
    padding: 20px 0;
    margin: 0;
}

header .logo {
    width: 100px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
}

.hero {
    position: relative;
    margin: 0;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    width: 100%;
    max-height: 800px;
    min-width: 800px;
    object-fit: fill;
}

.text {
    color: #f2f2f2;
    font-size: 2em;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.footer-content {
    text-align: center;
    background-color: rgba(87, 116, 180, 0.8);
    padding: 20px 0;
}

.social-media {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social-media li a img {
    width: 40px;
    height: 40px;
}

.copy-right {
    background-color: rgba(87, 116, 180, 0.89);
    padding: 10px;
    color: white;
}

/*----------------------------------------------------------*/

.features-section {
    background-color: #ffffff;
    padding: 40px 0;
}

.features-section .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.feature-card {
    background-color: rgba(26, 133, 255, 0.14);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    width: 35%;
}

.feature-card:hover {
    transform: translateY(-10px);
}

.feature-card .icon {
    margin-bottom: 20px;
}

.feature-card .icon img {
    width: 50px;
    height: 50px;
}

.feature-card h3 {
    color: #007bff;
    font-size: 1.5em;
    margin: 10px 0;
}

.feature-card p {
    color: #555;
    font-size: 1em;
}
