body {
    font-family: 'Vazirmatn', "B Nazanin", serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #589be5;
    color: white;
    padding: 20px 0;
    margin: 0;
}

header .logo {
    width: 100px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav .title {
    color: #232836;
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
}

.hero {
    position: relative;
    margin: 0;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    opacity: 1;
    transition: opacity 1s;
}

.slideshow-container.fadeOut {
    opacity: 0;
}

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    width: 100%;
    max-height: 800px;
    min-width: 800px;
    object-fit: fill;
}

.text {
    color: #f2f2f2;
    font-size: 2em;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(26, 133, 255, 0.77);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.copy-right {
    /*background-color: rgba(82, 154, 213, 0.89);*/
    padding: 10px;
    color: white;
}

/*----------------------------------------------------------*/

.features-section {
    background-color: #ffffff;
    padding: 40px 0;
}

.features-section h2 {
    text-align: center;
}

.features-section .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.feature-card {
    background-color: rgba(26, 133, 255, 0.14);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    width: 35%;
}

.feature-card:hover {
    transform: translateY(-10px);
}

.feature-card .icon {
    margin-bottom: 20px;
}

.feature-card .icon img {
    width: 50px;
    height: 50px;
}

.feature-card h3 {
    color: #007bff;
    font-size: 1.5em;
    margin: 10px 0;
}

.feature-card p {
    color: #555;
    font-size: 1em;
}

/*----------------------------------------------------------*/

.statistics-section {
    background: url('images/1.jpg') no-repeat fixed center center;
    color: white;
    padding: 60px 0;
    text-align: center;
    margin: 20px 0;
}

.statistics-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-card {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 22%;
}

.stat-card h3 {
    font-size: 2.5em;
    margin: 0;
}

.stat-card p {
    font-size: 1.2em;
    margin: 10px 0 0;
}

/*----------------------------------------------------------*/
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    background-color: #0693E3;
    /*background-color: rgba(87, 116, 180, 0.8);*/
    padding: 20px 0;
    margin-top: -10px;
}

.footer-content .social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-content .social-media li {
    margin: 0 10px;
}

.footer-content .social-media li a img {
    height: 40px;
    width: 40px;
}

.footer-cols {
    display: flex;
}

.footer-cols .footer-col {
    flex: 1;
}

.footer-cols .footer-col a {
    text-decoration: none;
    color: white;
}

.footer-cols .footer-col a:hover {
    border-bottom: white solid 1px;
    /*color: mediumpurple;*/
}

/*----------------------------------------------------------*/

.summery-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summery-section img {
    width: 20%;
    border-radius: 10px;
    margin: 20px 20px;
}

.summery-content {
    flex: 1.5;
    padding: 20px;
}

.summery-content .count {
    color: rgba(26, 133, 255, 0.77);
    font-size: 3em;
    margin: 10px 0;
}

.summery-content h2 {
    font-size: 2em;
    color: #333;
}

.summery-content h3 {
    display: inline;
}

.summery-content p {
    margin: 20px 0;
    color: #555;
}

.summery-content .btn {
    background-color: rgba(26, 133, 255, 0.77);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.summery-content .btn:hover {
    background-color: inherit;
    border: rgba(26, 133, 255, 0.77) solid 2px;
    color: rgba(26, 133, 255, 0.77);
}

.summery-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: 20px;
}

.summery-details .detail {
    display: flex;
    align-items: center;
    margin: 20px;
    border-right: #b6b6b6 dashed 1px;
}

.summery-details .detail img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: rgba(26, 133, 255, 0.77) solid 1px;
    padding: 2px;
}

.summery-details .detail h3 {
    font-size: 1.5em;
    color: #333;
    margin: 15px;
}

.summery-details .detail p {
    margin: 15px 0;
    color: #555;
    /*width: 50%;*/
}

/*----------------------------------------------------------*/
